body
    color pink
    padding 0
    margin 0

.DistributedDubStepPlayer
    border 2px solid red
    position fixed
    top 0
    left 0
    right 0
    bottom 0

    .shakeDelta
        width 100px
        height 100px
        margin-top 50px
        font-size 60em
