body
    color pink
    padding 0
    margin 0

.DistributedDubStepPlayer
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display flex
    flex-direction column
    background rgba(14, 39, 68, 0.8)

    &:after
        content ""
        position absolute
        opacity 0.5
        top 0
        left 0
        right 0
        bottom 0
        background url(nyancat.gif) no-repeat
        background-size cover
        z-index -1

    .mask
        margin auto
        width 100%
        display flex
        align-items center
        justify-content center

        .baby
            width 80%
            svg
                fill white
                .heart
                    fill red

    .shakeDelta
        width 100px
        height 100px
        margin-top 50px
        font-size 60em

